<nav class="navbar">
  <img class='logo' src="./images/Draft_logo.png" alt="logo">
  <h2 class="navbar-brand">Fantasy Draft Generator</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right drop-left">
      <a href="./dashboard-owner" class="dropdown-item btn btn-info" role="button">Dashboard</a>
      <a href="./draftpage-owner" class="dropdown-item btn btn-info" role="button">Draft Room</a>
      <a href="./draft" class="dropdown-item btn btn-info" role="button">Draftboard</a>
      <a href="./players" class="dropdown-item btn btn-info" role="button">List of Players</a>
      <a href="./signin" class="dropdown-item btn btn-info" role="button">Log Out</a>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div>{{msg}}</div>
    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Draftboard</h5>
          <hr>

          <p class="helperText">Add your picks for your upcoming draft</p>
          <p id='board1'>1. {{onePlayer.playerName}}</p>
          <p id='board2'>2. {{twoPlayer.playerName}}</p>
          <p id='board3'>3. {{threePlayer.playerName}}</p>
          <p id='board4'>4. {{fourPlayer.playerName}}</p>
          <p id='board5'>5. {{fivePlayer.playerName}}</p>

        </div>
      </div>
    </div>
    <div class="col-6 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Current draft class</h5>
          <hr>
          <div class='playerTable'>
            <table class="table">
              <thead>
                <tr class='table'>
                  <th scope="col" id='nameHead'>Name</th>
                  <th scope="col" id='collegeHead'>College</th>
                  <th scope="col" id='heightHead'>Hgt</th>
                  <th scope="col" id='weightHead'>Wgt</th>
                  <th scope="col" id='adpHead'>ADP</th>
                  <th scope="col" id='add'>Add</th>
                </tr>
              </thead>
              <tbody>{{#each examples}}
                <tr class='table'>
                  <td id='name'>{{playerName}}</td>
                  <td id='college'>{{college}}</td>
                  <td id='height'>{{height}}</td>
                  <td id='weight'>{{weight}}</td>
                  <td id='ADP'>{{adp}}</td>
                  {{/each}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {{!-- </div> --}}

        <div class="col-3 equal">
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">My teams</h5>
              <hr>
              <div class="myTeams">{{teamName}}</div>
              <button class='newTeam'>New team</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Message board</h5>
            <hr>
            <p>Message board content</p>
          </div>
        </div>
      </div>


    </div>
  </div>