<nav class="navbar">
  <img class='logo' src="./images/Draft_logo.png" alt="logo">
  <h2 class="navbar-brand">Fantasy Draft Generator</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right drop-left">
      <button class="dropdown-item" type="button">Dashboard</button>
      <button class="dropdown-item" type="button">Draft Room</button>
      <button class="dropdown-item" type="button">Log Out</button>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div>{{msg}}</div>
    <div class="col-3 left equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Draftboard</h5>
          <hr>
          <p class="helperText">Add your picks for your upcoming draft</p>
          {{#each onePlayer}}
          <p id='board1'>1. {{playerName}}</p>
          <p id='board2'>2. {{playerName}}</p>
          <p id='board3'>3. {{playerName}}</p>
          <p id='board4'>4. Fourth round pick</p>
          <p id='board5'>5. Fifth round pick</p>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-6 middle equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Current draft class</h5>
          <hr>
          <div class='playerTable'>
            <table class="table">
              <thead>
                <tr class='table'>
                  <th scope="col" id='nameHead'>Name</th>
                  <th scope="col" id='collegeHead'>College</th>
                  <th scope="col" id='heightHead'>Hgt</th>
                  <th scope="col" id='weightHead'>Wgt</th>
                  <th scope="col" id='adpHead'>ADP</th>
                </tr>
              </thead>
              <tbody>{{#each examples}}
                <tr class='table'>
                  <td id='name'>{{playerName}}</td>
                  <td id='college'>{{college}}</td>
                  <td id='height'>{{height}}</td>
                  <td id='weight'>{{weight}}</td>
                  <td id='ADP'>{{adp}}</td>
                  {{/each}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">My teams</h5>
          <hr>
          {{#each teamRos}}
          <div class="myTeams">{{playerTaken}}</div>
          <button class='newTeam'>New team</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Message board</h5>
          <hr>
          <p>Message board content</p>
        </div>
      </div>
    </div>
  </div>
</div>