<nav class="navbar">
    <img class='logo' src="./images/Draft_logo.png" alt="logo">
    <h2 class="navbar-brand">Fantasy Draft Generator</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right drop-left">
            <a href="./draftpage-owner" class="dropdown-item btn btn-info" role="button">Draft Room</a>
            <a href="./draft" class="dropdown-item btn btn-info" role="button">Draftboard</a>
            <a href="./players" class="dropdown-item btn btn-info" role="button">List of Players</a>
            <a href="./signin" class="dropdown-item btn btn-info" role="button">Log Out</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-3 equal">
            <div>{{msg}}</div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Draftboard</h5>
                    <hr>
                    <p class="helperText">Add your picks for your upcoming
                        draft</p>
                    <p id='board1'>1. Nkeal Harry</p>
                    <p id='board2'>2. Josh Jacobs</p>
                    <p id='board3'>3. Kyler Murray</p>
                    <p id='board4'>4. Mike Weber</p>
                    <p id='board5'>5. Parris Campbell</p>
                </div>
            </div>
        </div>
        <div class="col-6 equal">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Current draft class</h5>
                    <hr>
                    <div class='playerTable'>
                        <table class="table">
                            <thead>
                                <tr class='table'>
                                    <th scope="col" id='nameHead'>Name</th>
                                    <th scope="col" id='collegeHead'>
                                        College</th>
                                    <th scope="col" id='heightHead'>Hgt
                                    </th>
                                    <th scope="col" id='weightHead'>Wgt
                                    </th>
                                    <th scope="col" id='adpHead'>ADP</th>
                                    <th scope="col" id='add'>Add</th>
                                </tr>
                            </thead>
                            <tbody>{{#each players.examples}}
                                <tr class='table'>
                                    <td id='name'>{{playerName}}</td>
                                    <td id='college'>{{college}}</td>
                                    <td id='height'>{{height}}</td>
                                    <td id='weight'>{{weight}}</td>
                                    <td id='ADP'>{{adp}}</td>
                                    <td id='add'><img src="./images/black-check.png" alt="check" width='15px'></td>
                                    {{/each}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 equal">
            <div class="card mt-4">
                <div class="card-body">
                    {{#each owner.teamRos}}
                    <h5 class="card-title myTeam">{{firstname}}'s team</h5>
                    {{/each}}
                    <hr id='hr'>
                    {{#each players.onePlayer}}
                    <p class='rd1'>Round 1: {{playerTaken}}</p>
                    <p class='rd2'>Round 2: {{playerTaken}}</p>
                    <p class='rd3'>Round 3: {{playerTaken}}</p>
                    <p class='rd4'>Round 4: {{playerTaken}}</p>
                    <p class='rd5'>Round 5: {{playerTaken}}</p>
                    {{/each}}
                    <div class='clockTime'></div>
                    <div class='clockTeam'></div>
                    <button class='pickSubmit'>Confirm draft pick</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Message board</h5>
                    <hr>
                    <p>Message board content</p>
                </div>
            </div>
        </div>
    </div>
</div>