<nav class="navbar">
    <img class='logo' src="./images/Draft_logo.png" alt="logo">
    <h2 class="navbar-brand">Fantasy Draft Generator</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right drop-left">
            <a href="./draftpage-owner" class="dropdown-item btn btn-info" role="button">Draft Room</a>
            <a href="./draft" class="dropdown-item btn btn-info" role="button">Draftboard</a>
            <a href="./players" class="dropdown-item btn btn-info" role="button">List of Players</a>
            <a href="./signin" class="dropdown-item btn btn-info" role="button">Log Out</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    {{!-- <div>{{msg}}</div> --}}
    <div class="row">

        <div class="col-12 equal">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Current draft class</h5>
                    <hr>
                    <p class='pos' id='qb'>Quarterback</p>
                    <p class='pos' id='rb'>Runningback</p>
                    <p class='pos' id='wr'>Wide Reciever</p>
                    <p class='pos' id='te'>Tight End</p>
                    <p class='pos' id='all'>All</p>
                    <div class='playerTable'>
                        {{#each examples}}
            <p>
                <tr>
                <td>{{playerName}}</td>
                <td>{{college}}</td>
                <td>{{height}}</td>
                <td>{{weight}}</td>
                <td>{{adp}}</td>   
                </tr>
            </p>
        {{/each}}</div></div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Message board</h5>
                    <hr>
                    <p>Message board content</p>
                </div>
            </div>
        </div>


    </div>
</div>

